.empty_cart {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: #fff;
}
.empty_cart img {
  width: 224px;
  height: 224px;
  margin-bottom: 60px;
}
.empty_cart p {
  font-size: 36.5px;
  font-weight: 500;
  line-height: 43.98px;
}
.empty_cart span {
  font-size: 22.65px;
  font-weight: 500;
}
